extends layout
block content
    div(style="text-align: center;")
        h1 #{gameBook.title}
    table(class="table table-striped")
      thead
        tr
          th Id
          th Path
          th JSON
          th Date
          th Views
          th Read
          th Edit
          th Update
      tbody
        each page, i in gameBookPages
          tr
            td #{page.id}
            td #{page.path}
              button(class="btn btn-small btn-primary" onclick="document.getElementById('newPageFormDiv').style.display = 'unset'; var textBox = document.getElementById('newPagePathField'); textBox.value='#{page.path}/?'; textBox.focus(); textBox.setSelectionRange(textBox.value.length - 1,textBox.value.length);") Add Child
            td #{page.json}
            td #{page.dateCreated}
            td #{page.views}
            td
              form(action="read/#{page.id}", method="get")
                button(class="btn btn-small btn-primary" type="submit" disabled) Read
            td
              form(action="edit/#{page.id}", method="get")
                button(class="btn btn-small btn-primary" type="submit" disabled) Edit
            td
              form(action="delete/#{page.id}", method="get")
                button(class="btn btn-small btn-primary" type="submit" disabled) Delete
    br
    div(style="padding:30px; display:none", id="newPageFormDiv")
      div(style="text-align: center;")
        h1 Create New Page
      form(action="../create", method="post")
        input(type="hidden", name="type", value="page")
        p(style="margin:10px;") Path
          input(type="text", name="path", value="", id="newPagePathField")
        p(style="margin:10px;") Page Title
          input(type="text", name="title", value="")
        p(style="margin:10px;") Page Text
          textarea(type="text", name="text", value="")

        table(class="table table-striped")
          thead
            tr
              th Option Name
              th Option Path
          tbody(id="newPageOptions")
        button(class="btn btn-small btn-primary" type="button" style="margin:1em 1em 1em 1em" onclick="var table = document.getElementById('newPageOptions'); if (table.rows.length < 5) {var tableRow = table.insertRow(table.rows.length); var c0 = tableRow.insertCell(0); var c1 = tableRow.insertCell(1); var t1 = document.createElement('input'); var t2 = document.createElement('input'); t1.style='float:left'; t1.type = 'text'; t2.style='float:left'; t2.type = 'text'; t1.name = 'n' + table.rows.length; t2.value = document.getElementById('newPagePathField').value + '/' + table.rows.length; t2.name = 'p' + table.rows.length; c0.appendChild(t1); c1.appendChild(t2);} else { alert('Maximum 5 options'); }") Add Option
          button(type="button" onclick="var table = document.getElementById('newPageOptions'); table.innerHTML = ''; document.getElementById('newPageFormDiv').style.display = 'none';") Cancel
            button(class="btn btn-small btn-primary" style="margin:1em 1em 1em 1em" type="submit") Create

    form(action="../view", method="get")
      button(class="btn btn-small btn-primary" style="position:fixed; bottom:0; right:0; margin:2em 2em 2em 2em" type="submit") Back